@model IEnumerable<GymRoom.Models.TinhTrang>

@{
    ViewData["Title"] = "Index";
}

<h1>Quản lý tình trạng chung</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenND)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TinhTrangND)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenND)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrangND)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaTinhTrang">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaTinhTrang">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaTinhTrang">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
